@media screen and (max-width: 991px) {
  /* Layout  */
  main {
    padding: 0;
  }

  .container {
    width: 100%;
    height: 100%;
  }

  /* Left  */
  .left {
    width: 10%;
  }

  .header-contacts .icons-header,
  section.notifications,
  .input-search-chat,
  .info-profile {
    display: none;
  }

  .col {
    flex-grow: 1;
  }

  /* Right  */
  .right {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .left {
    width: 0;
  }

  .right {
    width: 100%;
  }
}