/* Decktop firt  */
/* Reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common  */
/* Layout */
main {
  width: 100%;
  height: 100vh;
  padding: 50px 0 30px;
  /* debug */
  background-color: aquamarine;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  /* debug */
  background-color: brown;
}

.left {
  width: 30%;
  
  /* debug */
  height: 100%;
  background-color: lightcoral;
}

.right {
  width: 70%;
  
  /* debug */
  height: 100%;
  background-color: rgb(175, 132, 22);
}

/* #Utilities  */
