/* Decktop firt  */
:root {
  --footer-height: 100px;
  --header-height: 100px
}

/* Reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* Common  */
/* Layout */
main {
  width: 100%;
  height: 100vh;
  padding: 50px 0 30px;
  /* debug */
  background-color: aquamarine;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.left {
  width: 30%;
  /* debug */
  height: 100%;
  background-color: white;
}

.right {
  width: 70%;
  
  /* debug */
  height: 100%;
  background-color: rgb(175, 132, 22);
}

/* #Utilities  */
.flex {
  display: flex;
}

.justyfi-cont-c {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.align-items-c {
  align-items: center;
}

.gap-20px {
  gap: 20px;
}

.text-dec-und {
  text-decoration: underline;
}

.inline-block {
  display: inline-block;
}

.profile-img {
  width: 65px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

/* Main  */

/* Left  */
/* Header  */
.header-contacts,
.header-messages {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #EAEAEA;
}

.header-contacts .icons-header > i,
.header-messages .icons-header > i {
  font-size: 2rem;
  color: #B1B1B1;
  margin-left: 20px;
}

.notifications {
  height: var(--header-height);
  padding: 0 20px;
  background-color: #8EDAFC;
}

.bell-slash {
  font-size: 2.5rem;
  background-color: white;
  color: #8EDAFC;
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  line-height: 70px;
  text-align: center;
}

.notifications .text-notification {
  font-size: 1.3rem;
}

.notifications .text-notification + span {
  color: #6393A6;
}

.input-search-chat {
  background-color: #FAFAFA;
  padding: 10px;
}

.input-search-chat > i {
  font-size: 1.5rem;
  color: #B1B1B1;
  background-color: white;
  padding: 7px;
}

.input-search-chat > input {
  flex-grow: 1;
  font-size: 1rem;
  padding: 10px;
  border: none;
  background-color: white;
  margin-left: -1px;
}

#chats {
  overflow-y: auto;
  height: calc(100% - 300px);
}

.col {
  position: relative;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid #C2C0BF;
}

.info-profile time {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #C2C0BF;
}

#chats .info-profile span {
  color: #C2C0BF;
}



/* Right  */
.main-chat {
  overflow-y: auto;
  height: calc(100% - (var(--header-height) + var(--footer-height)));
}

.user-description.flex {
  align-items: center;
}

.userid-name {
  font-size: 2rem;
}

.header-messages .userid-name + time {
  font-size: 1.2rem;
  color: #B1B1B1;
}

/* Footer  */
footer {
  /* debug */
  height: var(--footer-height);
  background-color: blueviolet;
}